
.about-content-inner {
    margin-top: 5rem;
    margin-bottom: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-h1 {
    margin-top: 0;
    margin-bottom: 0.4rem;
    color: var(--text-primary);
    font-size: 1.7rem;
    font-weight: 550;
}

.about-p {
    color: var(--text-muted);
    margin-top: 0;
    margin-bottom: 2.9rem;
    max-width: 70%;
}

.about-content-inner ul{
    margin-top: 0;
    margin-bottom: 1.6rem;
}

.about-content-inner li {
    font-size: 1.3rem;
    margin-bottom: 0;
    line-height: 2.6rem;
}

@media (max-width: 480px) {
    .about-h1 {
        font-size: 1.4rem;
    }

    .about-p {
        max-width: 100%;
    }

    .about-content-inner li {
        font-size: 1rem;
    }
    
}