
.about-content-inner {
    margin-top: 5rem;
    margin-bottom: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-h1 {
    margin-top: 0;
    margin-bottom: 0.4rem;
    color: var(--text-primary);
    font-size: 1.7rem;
    font-weight: 550;
}

.about-p {
    color: var(--text-muted);
    margin-top: 0;
    margin-bottom: 2.9rem;
    max-width: 70%;
}

.about-p li {
    font-size: 1.2rem;
    line-height: 1.8rem;
}