
.contactCTA-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.contactCTA-text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-text {
    font-weight: 700;
}

.contactCTA-btns {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 2.5rem;
}