
.footer {
    margin-top: 15rem;
    margin-bottom: 5rem;
    
    background: rgba(0, 2, 53, 0.75);
    border-top: 0.2rem solid rgba(255, 255, 255, 0.08);
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.icon-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 8rem;
}

.footer-icons {
    width: 3.5rem;
    height: 3.5rem;
}

.rights-res {
    margin-top: 1.5rem;
}