
.footer {
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-line {
    width: 100%;

    border-radius: 0.1rem;
    border: solid;
    border-width: 0.1rem;
    border-color: rgb(255,255,255,5%);
    background-color: rgb(255,255,255,2%);
    box-shadow: 0 0 0.2rem  var(--glow);
}

.footer-links {
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.icon-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 8rem;
}

.footer-icons {
    width: 3.5rem;
    height: 3.5rem;
}

.rights-res {
    margin-top: 1.5rem;
}