:root {
  --bg-main: #000235;
  --text-primary: #ffffff;
  --text-muted: #b5b8c9;
  --card-bg: rgba(255, 255, 255, 0.02);
  --card-border: rgba(255, 255, 255, 0.08);

}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-primary);
}