@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');

:root {
  --bg-main: #000235;
  --text-primary: #ffffff;
  --text-blue: #0050ff;
  --text-muted: #b5b8c9;
  --card-bg: rgba(255, 255, 255, 0.02);
  --card-border: rgba(255, 255, 255, 0.08);

}

body {
  margin: 0;
  font-family: "Inter";
  background-color: var(--bg-main);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; /* Adds left and right spacing */
}

.btn {
  padding: 0.82rem 3.5rem;
  border-radius: 0.7rem;
  border: none;  
  font-size: 1.1rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: var(--text-primary);
  background-color: #0050ff;
}
.btn-primary:hover {
  background-color: #1e40Af;
}

.btn-ghost {
  color: var(--text-blue);
  background-color: transparent;
  border: solid;
  border-width: 1px;
}
.btn-ghost:hover {
  background-color: #0f297d;
}