@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet');

:root {
  --bg-main: #000235;
  --text-primary: #ffffff;
  --text-blue: #0050ff;
  --text-muted: #b5b8c9;
  --card-bg: rgba(255, 255, 255, 0.02);
  --card-border: rgba(255, 255, 255, 0.08);
  --glow: #3b82f6;
  --section-heading-size: 2.8rem;
  --sectopm-subheading-size: 2rem;
  --img-border: 1rem;

}

/* For the glowing borders */
.glow-card {
  border-radius: 1rem;
  border: solid;
  border-width: 0.5rem;
  border-color: rgb(255,255,255,5%);
  background-color: rgb(255,255,255,2%);
  box-shadow: 0 0 1rem  var(--glow);
}

body {
  margin: 0;
  font-family: "Inter";
  background-color: var(--bg-main);
  /*background-image: url("../assets/images/stars-galaxy.gif"); */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem; /* Adds left and right spacing */
}

/* Button styling (start) */
.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 0.7rem;
  border: none;  
  font-size: 1.6rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  color: var(--text-primary);
  background-color: #0050ff;
}
.btn-primary:hover {
  background-color: #1e40Af;
}

.btn-ghost {
  color: var(--text-blue);
  background-color: transparent;
  border: solid;
  border-width: 1px;
}
.btn-ghost:hover {
  background-color: #0f297d;
}
/* Button styling (end) */


/* paragraph styling */
p, .text-style {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--text-muted);
}

/* Home Page styling */
.section-heading {
  margin: 0;
  color: var(--text-primary);
  font-size: var(--section-heading-size);
  font-weight: 600;
}

.section-subheading {
  margin: 0;
  color: var(--text-muted);
  font-size: var(--sectopm-subheading-size);
  font-weight: 400;
}

/* Section divider */
.section-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.08);
    margin: 4rem 0;
}