
.navbar {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /*Vertically aligns the content */
}

.nav-logo {
    color: var(--text-blue);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 3rem; /*The spacing between the content */
}

.nav-link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:hover {
    color: #1e40af;
}