
.navbar {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;


    backdrop-filter: blur(10px); /* This will blur whatever is in the background when scrolling */
    background: rgba(0, 2, 53, 0.75);
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.08);

    /*For navbar to move with scroll */
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center; /*Vertically aligns the content */
}

.nav-logo {
    color: var(--text-blue);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 3rem; /*The spacing between the content */
}

.nav-link {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-link:hover {
    color: #1e40af;
}