
.projects-intro {
    margin-top: 14rem;
    margin-bottom: 20rem;
}

.projects-intro-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-intro-inner p {
    width: 45rem;
    text-align: center;
}

@media (max-width: 480px) {
    .projects-intro-inner p{
        width: 100%;
    }
    .projects-intro {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}