
.projects-intro {
    margin-top: 14rem;
    margin-bottom: 25rem;
}

.projects-intro-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-intro-inner p {
    width: 40rem;
    text-align: center;
}