
.project-preview {
    margin-top: 5rem;
    margin-bottom: 25rem;
}

.project-preview-inner {
    width: 100%;
}

.project-preview-card {
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    padding: 3rem 2rem;
    gap: 4rem;

}

.project-preview-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text-content, .card-img  {
    flex: 1; /* Each side gets half the space */
    min-width: 0; /* allows shrinking without overflow */
}

.card-text-content button{
    margin-top: 4rem;
}

.project-preview-card h2 {
    color: var(--text-primary);
    font-size: 2.2rem;
    margin-top: 0;
}

.project-preview-card img {
    border-radius:var(--img-border);
    width: 100%;
    height: 30rem;
}