
.project-cards {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.project-cards-inner {
    width: 100%;
}

.project-card {
    padding: 4rem ;
    margin-bottom: 10rem;
}

.project-media {
    width: 100%;
}

.project-video {
    border-radius: var(--img-border);
    border: solid 5px gray;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    display: block;

}

.project-heading {
    margin-top: 1rem;
    margin-bottom: 5rem;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
}

.project-subheading {
    color: var(--text-primary);
    margin-bottom: 0.6rem;
}

.project-p {
    margin-top: 0;
    margin-bottom: 4rem;
    max-width: 800px;
}

@media (max-width: 480px) {
    .project-card {
        padding: 0;
    }

    .project-heading {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .project-subheading {
        color: var(--text-primary);
        font-size: 1.2rem;
    }

    .project-text ul{
        padding-left: 1.6rem;
        max-width:fit-content;
    }

    .project-text ul li{
        margin-bottom: 1rem;
    }

    .project-p{
        width: 100%;
    }
}