
.skills {
    margin-top: 17rem;
}

.skills-inner {
    width: 100%;
}

.skills-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-section-container {
    display: flex;
    justify-content: space-between;
}

.skills-bucket {
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;
}

.skills-bucket-heading{
    color: var(--text-blue);
    font-size: 1.8rem;
}

.skills-li {
    margin-top: 1rem;
    margin-bottom: 3rem;
    list-style: none; /* Removing the default dot points */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-ul {
    padding: 0 2rem;
}

.skills-icons {
    width: 5rem;
    height: 5rem;
}

.icon-name {
    color: var(--text-muted);
    font-size: 1.3rem;
    margin: 0;
    font-weight: 800;
}

@media (max-width: 480px) {
    .skills {
        margin-top: 8rem;
    }

    .skills-section-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .skills-bucket {
        width: calc(50% - 3rem);
        margin-bottom: 0.5rem;
    }

    .skills-bucket-heading{ 
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .skills ul {
        padding: 0;
    }

    .skills-icons {
        width: 4rem;
        height: 4rem;
    }

    .icon-name {
        font-size: 0.9rem;
    }
}