
.skills {
    margin-top: 17rem;
}

.skills-inner {
    width: 100%;
}

.skills-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-section-container {
    display: flex;
    justify-content: space-between;
}

.skills-bucket {
    margin-top: 4rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: solid;
    border-width: 0.5rem;
    border-color: rgb(255,255,255,5%);
    background-color: rgb(255,255,255,2%);
    box-shadow: 0 0 1rem  var(--glow);
    width: 13rem;
}

.skills-bucket-heading{
    color: var(--text-blue);
    font-size: 1.8rem;
}

.skills-li {
    margin-top: 1rem;
    margin-bottom: 3rem;
    list-style: none; /* Removing the default dot points */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-ul {
    padding: 0 2rem;
}

.skills-icons {
    width: 5rem;
    height: 5rem;
}

.icon-name {
    color: var(--text-muted);
    font-size: 1.3rem;
    margin: 0;
    font-weight: 800;
}